<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CODERIUM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  
  </head>
  <body>
    <nav class="navbar fixed-top bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">THE CODERIUM</a>
       <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <button  onclick="window.location.href='/';" type="button" class="btn btn-primary">
                Home<span class="badge text-bg-secondary"></span>
              </button>
              <button  onclick="window.location.href='/profile';" type="button" class="btn btn-primary">
                My Profile <span class="badge text-bg-secondary"></span>
              </button>
              
              <button  onclick="window.location.href='/login';" type="button" class="btn btn-primary">
                Login <span class="badge text-bg-secondary"></span>
              </button>
              <button  onclick="window.location.href='/signup'"  type="button" class="btn btn-primary">
                Signup <span class="badge text-bg-secondary"></span>
              </button>
             
              <button  onclick="window.location.href='/htmleditor';" type="button" class="btn btn-primary position-relative">
                Start Coding
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">5+
                
                  <span class="visually-hidden">unread messages</span>
                </span>
             
            </li>
           
    </div>
    </nav>
  </body>
  </html>